h1.Atitle{
font-family: link href="https://fonts.googleapis.com/css?family=Roboto";
font-size: 100px;
}
h1.Ptitle{
font-family: link href"https://fonts.googleapis.com/css?family=Montserrat";
font-size: 80px;
}
@font-face {
        font-family: quoteface;
        src: url("../font/PlaywriteNZGuides-Regular.ttf");
    }
ul{
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    font: size 1.2em;
}
p{
    font-family: arial, verdana, 'times New Roman';
}
blockquote{
    font-family: quoteface;
}
