body{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0)
}
pre.center{
    text-align: center;
}
div.left{
    text-align: left;
}
h1{
    font-family:verdana;
    font-size: 80px;
    text-align: center;

}
h2.list{
    font-family:verdana;
    font-size: large;
    padding: 70px;
}
pre.instruct{
    font-family:verdana;
    padding: 50px;
}
#red{
    text-align:center;
    color:red;
}
table, tr, td, th{
border-style: groove;
border-color:black;
border-collapse:collapse;
font-family:sans-serif;
font-size: small;
}
tr.years{
font-weight: bold;
vertical-align: top;
}
td{
    border-collapse:collapse;
}
thead{
    font-weight: bold;
    border-style:groove;
    border-color: black;
    background-color:blueviolet;
}
td.rowstart{
    font-weight:bold;
    color:white;
    background-color: rgb(87, 206, 194);
    border-color:black;
}
tr.bottowRow{
    column-span: all;
}

